@import "@/styles/variables";

.containerHome {
  margin-top: 100px;
  max-width: 672px;
  width: 672px;
  height: 100vh;

  @media screen and (max-width: $sm) {
    margin-top: 0;
    width: 100%;
    position: relative;
    height: 100vh;
  }
}
