@import "@/styles/variables";

.passwordInput {
  position: relative;

  input {
    padding-right: 30px;
  }
}

.passwordIcon {
  @include center-screen;
  @include flexbox;
  @include flexbox-justify-center;
  left: auto;
  right: 0 !important;
}
