@import "variables";

.text-white {
  color: $color-white;
}

.d-flex {
  @include flexbox;
}

.justify-center {
  @include flexbox-justify-center;
}

.justify-space-around {
  @include flexbox-justify-space-around;
}
.align-center {
  @include flexbox-align-center;
}

@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .p-#{$i} {
    padding: $fontsize !important;
  }
}

@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .pr-#{$i} {
    padding-right: $fontsize !important;
  }
}
@for $i from 0 through 50 {
  $fontsize: 1px * $i;
  .pt-#{$i} {
    padding-top: $fontsize !important;
  }
}
@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .pb-#{$i} {
    padding-bottom: $fontsize !important;
  }
}
@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .pl-#{$i} {
    padding-left: $fontsize !important;
  }
}

@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .px-#{$i} {
    padding-left: $fontsize !important;
    padding-right: $fontsize !important;
  }
}
@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .py-#{$i} {
    padding-top: $fontsize !important;
    padding-bottom: $fontsize !important;
  }
}

@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .mr-#{$i} {
    margin-right: $fontsize !important;
  }
}
@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .mt-#{$i} {
    margin-top: $fontsize !important;
  }
}
@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .mb-#{$i} {
    margin-bottom: $fontsize !important;
  }
}
@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .ml-#{$i} {
    margin-left: $fontsize !important;
  }
}
@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .m-#{$i} {
    margin: $fontsize !important;
  }
}

@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .mx-#{$i} {
    margin-left: $fontsize !important;
    margin-right: $fontsize !important;
  }
}
@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .my-#{$i} {
    margin-top: $fontsize !important;
    margin-bottom: $fontsize !important;
  }
}

@for $i from 1 through 50 {
  $fontsize: 1px * $i;
  .font-#{$i} {
    font-size: $fontsize !important;
  }
}

@for $i from 0 through 100 {
  $fontsize: 1% * $i;
  .w-#{$i} {
    width: $fontsize !important;
  }
}

@for $i from 0 through 1000 {
  $fontsize: 1px * $i;
  .w-#{$i}-px {
    width: $fontsize !important;
  }
}

@for $i from 0 through 100 {
  $fontsize: 1% * $i;
  .h-#{$i} {
    height: $fontsize !important;
  }
}

@for $i from 0 through 1000 {
  $fontsize: 1px * $i;
  .h-#{$i}-px {
    height: $fontsize !important;
  }
}

.normal-input {
  height: $btn-height;
  padding: $normal-padding;
  font-size: $font-size16;
}

.normal-button {
  padding: $normal-padding;
  border: $border-solid;
  border-radius: 4px;
  min-height: $btn-height;
  font-size: $font-size16;
}

.button-danger {
  background-color: $color-bg-danger;
  color: $color-white;
}

.normal-select {
  padding: 6px 10px;
  width: 100%;
  height: $btn-height;

  option {
    font-size: $font-size14;
    padding: $normal-padding !important;
    height: $btn-height !important;
  }
}

.d-block {
  display: block !important;
}

.float-right {
  float: right !important;
}

.float-left {
  float: left !important;
}

.m-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.position-relative {
  position: relative !important;
}

.background-none {
  background-color: inherit !important;
}

.border-none {
  border: none !important;
}
.text-error {
  color: $color-red;
}
.border-error {
  border: 1px solid $color-red;
}

.background-red {
  background-color: $color-bg-danger;
}

@media (min-width: $sm) {
}
