@import "@/styles/variables";

.videoItem {
  display: none;

  @media screen and (max-width: $sm) {
    width: 100vw;
    height: 100%;
    top: 0;
    display: block;
    position: absolute;
  }
}

.containerItem {
  @include flexbox;
  max-width: 624px;
  width: 624px;

  @media screen and (max-width: $sm) {
    width: 100%;
    height: 100vh;
    padding: 0 10px;
    @include flexbox-align-center;
    @include flexbox-justify-center;
    @include flexbox-column;
    @include flexbox-align-end;
  }

  .avatar {
    @media screen and (max-width: $sm) {
      position: relative;
      right: 0;
    }
  }

  .contentItem {
    @include flexbox;
    @include flexbox-column;
    margin-left: 15px;

    @media screen and (max-width: $sm) {
      @include flexbox-column-reverse;
      margin-right: 6px;
      margin-top: 10px;
    }

    .infoNews {
      @include flexbox;
      @include flexbox-justify-space-between;

      @media screen and (max-width: $sm) {
        position: absolute;
        left: 0;
      }

      .buttonFollow {
        border-color: $color-red;
        color: $color-red;
        border-width: 1px;
        border-style: solid;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 0.08);
        min-width: 106px;
        min-height: 28px;
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        font-family: ProximaNova, PingFangSC, sans-serif;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        padding: 6px 8px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        box-sizing: border-box;
        min-width: 88px;
        padding: 0 10px;
        @media screen and (max-width: $sm) {
          display: none;
        }
      }
    }

    .socialItem {
      @include flexbox;
      margin-top: 15px;

      .videoItem {
        width: 542px;
        max-width: 542px;
        margin-right: 15px;
        height: auto;
        display: flex;
        position: relative;

        @media screen and (max-width: $sm) {
          width: 100vw;
          height: 100vh;
          display: none;
        }
        // height: calc(450px + (100vw - 768px) / 1152 * 100);
      }

      .listButtonSocial {
        @include flexbox;
        @include flexbox-column;
        @include flexbox-justify-end;
        row-gap: 10px;

        @media screen and (max-width: $sm) {
          position: relative;
        }

        .buttonSocial {
          // @include flexbox;
          // @include flexbox-column;
          // @include flexbox-align-center;

          button {
            border-radius: 50%;
            height: 36px;
            width: 36px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-transition: all ease-in-out 200ms;
            transition: all ease-in-out 200ms;
            background-color: rgba(255, 255, 255, 0.12);
            border: none;
          }

          .buttonCount {
            font-size: 12px;
            line-height: 17px;
            text-align: center;
            margin-top: 2px-;
          }
        }
      }
    }
  }
}
