@import "@/styles/variables";

.tagContainer {
  @include flexbox;
  @include flexbox-align-center;
  width: fit-content;
  border: 0.5px solid $color-white;
  border-radius: 20px;
  padding: 3px 10px;
  margin: 10px 10px 0 0;

  p {
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 6px;
  }
}
