@import "@/styles/variables";

.containerLayout {
  flex: 1 1 auto !important;
  @include flexbox;
  width: 100vw;
  max-width: 1150px;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: $sm) {
    @include flexbox-column;
  }
}
