@import "@/styles/variables";

.containerLayout {
  @include flexbox;
  @include flexbox-justify-space-around;
  width: 100vw;
  max-width: 1150px;
  margin: 0 auto;
  position: relative;

  @media screen and (max-width: $sm) {
    @include flexbox-column;
  }

  @media screen and (max-width: $lg) and (min-width: $sm) {
    @include flexbox-justify-space-between;
  }
}
