@import "@/styles/variables";

.sidebarContainer {
  @include flexbox;
  @include flexbox-column;
  width: 300px;
  height: 100vh;
  overflow: auto;
  padding-top: 100px;
  padding-left: 20px;
  row-gap: 20px;
}
