@import "@/styles/variables";

.objectContainer {
  padding: 10px 0;
  border-bottom: $border-small;
  @media screen and (max-width: $sm) {
    border: none;
    @include flexbox-row-reverse;
    gap: 10px;
  }

  .objectItem {
    @include flexbox;
    @include flexbox-align-center;

    h2 {
      font-size: 18px;
    }
  }
}
