@import "@/styles/variables";

.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  border-top: 0.1px solid $color-white;
  border-bottom: 0.1px solid $color-white;
  width: 100%;

  .rightContainer {
    @include flexbox;
    gap: 10px;
  }
}
